*{
    padding: 0;
    margin: 0;
}
.top{
    display: flex;
    justify-content:space-between;
    background-color: rgb(255, 255, 255);
    align-content: center;
    align-items: center;
    padding: 10px;
    /* position: sticky;
    top: 0;
    max-width: 100%;
    z-index: 100; */
    
}

img{
    max-width: 15%;
}


li{
    display: inline;
    list-style: none;
    margin-right: 20px;
    font-family: 'Tiro Bangla', sans-serif;
    font-weight: 700;

}
li, a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

li, a:hover{
    
    color: rgb(240, 2, 2);
}
button{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(160deg, rgb(227, 3, 216), rgb(1, 205, 208));
    color: #fff;
    border: none;
    padding: 8px 30px;
    font-size: medium;
    border-radius: 10px;
}


.midal{
    max-width: 100%;
    height: 500px;
    text-align: center;
    align-items: center;
    justify-content: ;
    background-image: url(bannar.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h2{
    font-family: 'Tiro Bangla', sans-serif;
    font-size: 40px;

}