*{
    padding: 0;
    margin: 0;
}
.top{
    display: flex;
    justify-content:space-between;
    min-height: 50px;
    background-color: rgb(255, 255, 255);
    align-content: center;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    max-width: 100%;
    z-index: 100;
    box-sizing: border-box;
    box-shadow: yellowgreen;
    
}

img{
    max-width: 10%;
}


li{
    display: inline;
    list-style: none;
    margin-right: 20px;
    font-family: 'Tiro Bangla', sans-serif;
    font-weight: 700;

}
li, a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

li, a:hover{
    
    color: rgb(240, 2, 2);
}
.con{
    font-family: Arial, Helvetica, sans-serif;
    background: green;
    color: #fff;
    border: none;
    padding: 8px 30px;
    font-size: medium;
    border-radius: 10px;
}


.midal{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 400px;
    justify-content: center;
    align-items: center;
    /* background-image: url(bannar.jpg); */
    background: linear-gradient(150deg, #14244F, #1E3885, #14244F);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h2{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Tiro Bangla', sans-serif;
    font-size: 50px;
    color: #fff;

}

h3{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Tiro Bangla', sans-serif;
    font-size: 30px;
    color: #FDD063;

}

h4{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Tiro Bangla', sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin: 10px 0px;

}

.co{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #1A377F;
    color: #fff;
    padding: 8px 25px;
    border-radius: 50px;
    border: 1px solid #2F58A3;
    margin-bottom: 30px;

}

.second{

    display: flex;
    flex-direction: row;
    max-width: 100%;
    min-height: 400px;

}