body{
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: 'SolaimanLipi', sans-serif;
    box-sizing: border-box;
    font-weight: 500;
}

.fa-trophy, .fa-circle-check, .fa-people-group, .fa-award{
    color: #FACC15;
}

#main-header{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    /* background-color: antiquewhite; */

}

#main-header img{
    max-width: 120px;
}

#main-header .menu ul li{
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}
#main-header .menu ul li a{
    text-decoration: none;
    color: #434343;
    font-size: 16px;
    font-weight: 700;
}

#main-header .menu ul li a:hover{
    color: #ff6600;
    
}

#main-header .menu ul li a:active{
    color: #ff6600;
    
}

.Contact-info .btn{
    background-color: #25D366;
    font-size: 15px;
    font-weight: 600;
    padding: 14px 15px;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.Contact-info .booking{
    background: linear-gradient(130deg, rgb(0, 129, 249) , rgba(206, 0, 213, 0.651));
    font-size: 15px;
    padding: 14px 15px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

#banner-part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    /* height: 80vh; */
    background: linear-gradient(-190deg, #132146, #1D3885, #132146);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;    
    padding: 70px 0px;
}

#banner-part .midal{
    /* padding: 70px 0; */
    text-align: center;
    color: #fff;
    
}

.midal .award{
    background-color: #192F6C;
    padding: 10px 20px;
    border: 0.5px solid #1640b4;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    margin-bottom: -10px;
    
}

.midal h2{
    font-size: 47px;
    font-weight: 700;
    margin-bottom: -10px;
}
.midal h3{
    font-size: 24px;
    font-weight: 700;
    color: #FDE047;
}

.midal .website{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

#banner-part .banner-socail{
    /* align-items: center;
    text-align: center; */
    color: #BFDBFE;
    font-size: 14px;
    font-weight: 400;
    
}
#banner-part .banner-socail .socil li{
    display: inline;
    margin-right: 30px;
    
    
}

.Contact-info .tel-me{
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid #93b3ff4a;
    font-size: 15px;
    font-weight: 600;
    padding: 14px 15px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;

}








